*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(211, 207, 207);
    color:black;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}
#image > img {
    width: 176px;
    border: 1px dotted black;
    border-radius: 50%;
    align-items: center;
}
.info_list{
    text-align: left;
line-height: 1.6;
max-width: 560px;
margin: 0 auto 50px auto;
}

.comment p{
    width: 560px;
margin: auto;
text-align: left;
font-style: italic;
}

.commenter_image {
    width: 30px;
    border: 1px dotted black;
    border-radius: 50%;
}
.application{
    max-width: 560px;
   text-align:center;
   margin: auto;

}
#footer{
    width:100%;
    background-color: gray;
    margin: auto;
}
#footer ul{
    display: flex;
   justify-content: space-around;
   text-decoration: none;
}
#footer ul li {
    text-decoration: none;
}
#footer ul li a{
    text-decoration: none;
    color:white;
}